<%- include("partials/header") -%>

    <div class="content box">
    
        <h1><%= webTitle %></h1>
        <p class="paragraph"><%= blogContent %></p>
    
    </div>

<%- include("partials/footer") -%>